body {
    display: grid;
}
header {
    display: grid;
    justify-items: center;
    justify-content: center;
}
#landing-pic-top {
    width: 50%;
}
#landing-pic-bottom {
    width: 100%;
}
.pictures {
   display: grid;
   justify-items: center;
   justify-content: center;
}
figcaption {
    font-size: 1em;
}